.react-emoji-picker--wrapper {
    /* position: absolute;
    width: 10%; */
    top: -22rem;
    /* left: 20px; */
    /* background-color: red; */
    /* z-index: 10;  */
 }
 .react-emoji-picker {
   /* position: relative;
   display: flex;
   justify-content: flex-end;
   width: 10%; */
 }
 .react-emoji {
     /* overflow: 'auto' */
 }